:root {
  --fonte: "Lato";
  --degrade: linear-gradient(45deg, #ccc, #e7e7e7, #ccc);
  --paleta-1: #0d0d0d;
  --paleta-2: #f2f2f2;
  --paleta-3: #7b44f2;
  --paleta-4: #32088c;
  --paleta-5: #550cf2;
  --paleta-6: #757575;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--fonte);
  outline: none;
  overflow-x: hidden;
}

body {
  background-color: var(--paleta-2);
}

header {
  background-color: var(--paleta-4);
  padding: 3vh 1vw;
}

button,
input {
  font-weight: bold;
  font-size: 1.5vw;
  border: none;
  background-color: transparent;
}

#user-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6vw;
}

#logo,
#logo span,
#logo span svg {
  align-items: center;
  display: flex;
  color: var(--paleta-2);
  font-weight: 300;
  font-size: 2.5vw;
}

#logo:hover {
  opacity: 0.8;
  transition: 0.2s;
}

#search-bar {
  display: flex;
  background-color: var(--paleta-2);
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 0.5vw;
}

#search-bar span {
  display: flex;
  background-color: var(--paleta-5);
  border-radius: 0.5vw;
  margin: 0.1vw;
  padding: 1vw;
  cursor: pointer;
}

#search-bar span:hover {
  background-color: var(--paleta-3);
  transition: 0.5s;
}

#search-bar input {
  color: var(--paleta-6);
  width: 40vw;
  height: 5vh;
  padding: 1vw;
  outline: none;
  margin: 0.1vw;
  border-bottom: 0.2vw solid var(--paleta-2);
}

#search-bar input:hover {
  border-bottom: 0.2vw solid var(--paleta-1);
  transition: 0.5s;
}

#search-bar svg {
  font-size: 1.5vw;
  color: var(--paleta-2);
}

.btn {
  display: flex;
  align-items: center;
  color: var(--paleta-2);
  font-weight: bold;
  font-size: 1.5vw;
}

.btn svg {
  font-size: 2vw;
}

#user-options {
  display: flex;
  gap: 2vw;
}